<div class="carousel">
    <h2>{{ genreName }}</h2>
    <div class="carousel-conteiner">
      <button class="btn left" (click)="scrollLeft()"><i class="fa fa-chevron-left"></i></button>
      <div class="movie-row" #movieRow>
        <div class="movie-card" *ngFor="let movie of movies">
          <a [routerLink]="['/movies', movie.id]" [title]="movie.title + ' details'">
            <img [src]="getImage(movie.poster_path)" [alt]="'Portada de ' + movie.title" />
          </a>
          <p class="movie-title" [title]="movie.title">{{ movie.title }}</p>
        </div>
      </div>
      <button class="btn right" (click)="scrollRight()"><i class="fa fa-chevron-right"></i></button>
    </div>
</div>