<div class="carousel">
    <h2>{{genreName}} </h2>
    <div class="movie-row" #movieRow>
        <button class="btn left" (click)="scrollLeft()"><i class="fa fa-chevron-left"></i></button>
        <div class="movie-card" *ngFor="let movie of movies"> 
            <p>{{movie.title}}</p>
            <img [src]="getImage(movie.poster_path)" [alt]="'Portada de ' + movie.title">
        </div>
        <button class="btn right" (click)="scrollRight()"><i class="fa fa-chevron-right"></i></button>
    </div>
</div>
