<section class="welcome">
  <div class="container">
      <div class="header">
        <img src="assets/MoviePoint-logo.png" alt="MoviePoint Logo" class="Logo">
        <div class="buttons">
          <button class="LogIn-button" (click)="goToLogIn()">Iniciar Sesión</button>
          <button class="Register-button" (click)="goToRegister()">Registrate Ahora</button>
        </div>
      </div>

      <div class="body">
          <h1>Bienvenido a MoviePoint</h1>
          <p>Descubre, explora y disfruta de las mejores pelicular y series.</p>
      </div>
  </div>
</section>