.container {
    background-image: url('/assets/MoviePoint-fondo1.jpeg'), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .Logo {
    height: 50px;
    margin: 5px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .LogIn-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }

  .LogIn-button:hover {
    background-color: darkgray;
  }

  .Register-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  .Register-button:hover {
    background-color: darkgray;
  }
  
  .body {
    text-align: center;
    margin: auto;
  }
  
  h1 {
    font-size: 3rem;
    color: crimson;
  }
  
  p {
    font-size: 1.5rem;
  }
  