<footer class="footer">
    <div class="row">
        <a routerLink="#"><i class="fa fa-facebook"></i></a>
        <a routerLink="#"><i class="fa fa-instagram"></i></a>
        <a routerLink="#"><i class="fa fa-youtube"></i></a>
        <a routerLink="#"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="row">
        <ul>
            <li><a routerLink="#">Contacto</a></li>
            <li><a routerLink="#">Acerca de</a></li>
            <li><a routerLink="#">Política de Privacidad</a></li>
            <li><a routerLink="#">Términos y Condiciones</a></li>
        </ul>
    </div>

    <div class="row">
        &copy; 2024 MoviePoint. Todos los derechos reservados.
    </div>
</footer>
