<header class="header">
  <div class="logo">MoviePoint
    <img src="assets\MoviePoint-logo.webp" alt="MoviePoint Logo">
  </div>

  <nav class="menu" *ngIf="(auth.isAuthenticated$| async)">
    <ul class="menu">
      <li><a href="/home">Inicio</a></li>
      <li><a href="#">Géneros</a></li>
      <li><a href="#">Favoritas</a></li>
    </ul>
    <div class="search">
      <input type="text" placeholder="Buscar Peliculas...">
    </div>
  </nav>

  <div class="buttons">
    <button *ngIf="!(auth.isAuthenticated$| async)" class="LogIn-button" (click)="logIn()">Log In</button>
    <button *ngIf="(auth.isAuthenticated$| async)" class="LogOut-button" (click)="logOut()">Log Out</button>
  </div>
</header>