<header class="header">
  <div class="logo">MoviePoint
    <img src="assets\MoviePoint-logo.webp" alt="MoviePoint Logo">
  </div>

  <nav class="menu" *ngIf="(auth.isAuthenticated$| async)">
    <ul class="menu">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="#">Géneros</a></li>
      <li><a routerLink="#">Favoritas</a></li>
    </ul>
    <div class="search">
      <input type="text" placeholder="Buscar Peliculas...">
    </div>
  </nav>

  <app-login></app-login>
</header>