<div class="movies-list">
    <div class="search">
       <input type="text" #search placeholder="buscar pelicula">
       <img (click)="getMovies(search.value)" src="../../../assets/lupa.svg" alt="buscador">
   </div>
   <div *ngIf="(movies && movies.length > 0); else noMovies">   <!--si no buscaron muestra los mas populares-->
    <app-movie-list *ngFor="let movie of movies" [movie]="movie"></app-movie-list>
   </div>
   <ng-template #noMovies>
    <div *ngIf="searched === true">      <!--si buscaron pero encuentra muestra los mas populares + mensaje-->
        <h2>No se encontraron películas</h2>
    </div>
    <app-carousel *ngFor="let genre of genres" [genreID]="genre.id" [genreName]="genre.name"></app-carousel>
   </ng-template>
</div>
