.movies-list{
    background-color: rgb(24, 24, 24);
    max-width: 1200px;
    margin: 0 auto;
}

  .search {
    width: 50%; 
    margin: 2rem auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem; 
    border-radius: 2rem; 
    background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}


.search input {
    flex: 1;
    border: none;
    font-size: 1.2rem; 
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
    outline: none;
    color: #a1a1a1;
    background: #1f2123;
}


.search img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    row-gap: 30px;
    column-gap: 60px;
    justify-content: center;
  } 
