<div class="movie-card">
    <div class="imagen-contenedor">
        <img [src]="getImage(movie.poster_path)" [alt]="'Poster for ' + movie.title" class="imagen">
    </div>
    <div class="movie-info">
        <h2>{{movie.title}}</h2>
        <div class="movie-details">
            <p>Release Date: {{movie.release_date}}</p>
            <p>Rating: {{movie.vote_average}}</p>
            <div *ngIf="esFav(movie.id)">
                <button (click)="eliminarFav(movie.id)" class="favorite-button">eliminar de favoritos</button>
            </div>
            <div *ngIf="!esFav(movie.id)">
                <button (click)="agregarFav(movie.id)" class="favorite-button">agregar a favoritos</button>
            </div>
        </div>
    </div>
</div>